*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: rgba(0, 0, 0, 0.5);
}

body:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center/cover;
  height: 1500px;
  width: 100%;
  z-index: -1;
  opacity: .8;
}

.container{
  width: 100%;
  text-align: center;
}

h1{
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
}

h1::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: crimson;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

@keyframes animate{
  0%{
    width: 100px;
  }
  50%{
    width: 200px;
  }
  100%{
    width: 100px;
  }
}

.top-content{
  background-color: rgb(243, 243, 243);
  width: 90%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgray;
}

h3{
  height: 100%;
  background-color: rgb(221, 221, 221);
  line-height: 60px;
  padding: 0 50px;
  color: white;
}

label{
  display: inline-block;
  height: 100%;
  margin: 0 20px;
  line-height: 60px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: color .5s;
}

label:hover{
  color: black;
}

.photo-gallery{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.pic{
  position: relative;
  height: 350px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px lightgray;
  cursor: pointer;

}

.pic img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: .5s;
  object-fit: cover;

}


.pic::before{
  content: "Sifariş üçün klikləyin";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transition: .3s;
  transition-delay: .2s;
  z-index: 1;
}



.pic:after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  height: 0;
  background-color: rgba(0, 0, 0, .4);
  transition: .3s;
}

.pic:hover:after{
  height: 100%;
}

.pic:hover:before{
  margin-top: 0;
  opacity: 1;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li{
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
}

.navbar ul li a:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}
